.chat-window {
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 10px;
    height: 400px;
    overflow-y: auto;
    background: #f9f9f9;
}

.msg-user {
    text-align: right;
    background: #d0f0c0;
    /* зеленый для пользователя */
    margin: 5px;
    padding: 8px;
    border-radius: 10px;
}

.msg-seller {
    text-align: left;
    background: #f0d0d0;
    /* красный для продавца */
    margin: 5px;
    padding: 8px;
    border-radius: 10px;
}