/* Контейнеры */
.profile-box,
.not-active,
.auth-wrapper {
    max-width: 420px;
    margin: auto;
    padding: 24px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

/* Заголовки */
.welcome-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #111827;
}

/* Навигация внутри профиля */
.profile-nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
}

/* Формы */
.auth-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 24px;
}

.label_form {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 500;
    color: #374151;
}

.input_form {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    transition: 0.2s;
}

.input_form:focus {
    outline: none;
    border-color: #6366f1;
    box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.25);
}

.button {
    margin-top: auto;
}

/* Кнопки */
.btn_account {
    display: inline-block;
    padding: 10px 18px;
    margin: 5px;
    background: #34b96f;
    color: #fff;
    border-radius: 8px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s;
    margin-top: auto;
}

.btn_account:hover {
    background: #2ea563;
}

.logout {
    background: #ef4444;
}

.logout:hover {
    background: #dc2626;
}

/* Центровка текста */
.not-active p {
    font-size: 15px;
    line-height: 1.4;
}

.user-items {
    margin-top: 40px;
}

.items-grid {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}

.item-card {
    max-width: 285px;
    width: 100%;
    height: auto;
    max-height: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    /* фон, чтобы текст был нормальный */
}

.item-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.item-title {
    font-size: 20px;
    margin: 10px 0 5px;
}

.item-price {
    font-size: 18px;
    font-weight: bold;
    color: #248A4C;
    margin-bottom: 20px;
}